

          
<div class="separador my-5">
    <h3 class="text-white p-3">Buscá por categorías</h3>

<div class="container text-center text-white">
    
    <div class="row my-2">
        <div class="col-md-6">
            <!-- Primer imagen -->
            <div class="row primer-bloque my-4 mx-1 rounded">
                <a class="bloques-negros rounded-bottom" href="">
                    <div class="titulos">
                        Telares
                    </div>                        
                </a>
            </div>
            <!-- Segunda imagen -->
            <div class="row segundo-bloque my-4 mx-1 rounded">
                <a class="bloques-negros rounded-bottom" href="">
                    <div class="titulos">
                        Agujas
                    </div>                        
                </a>
            </div>
        </div>
        <div class="col-md-6">
            <!-- Tercer Imagen -->
            <div class="row tercer-bloque my-4 mx-1 rounded">
                    <a class="bloques-negros rounded-bottom" href="">
                        <div class="titulos">
                            Accesorios
                        </div>                        
                    </a>                    
            </div>
            <!-- Cuarta Imagen -->
            <div class="row cuarto-bloque my-4 mx-1 rounded">
                <a class="bloques-negros rounded-bottom" href="">
                    <div class="titulos">
                        Infantil
                    </div>                        
                </a>
            </div>
        </div>
    </div>

    
</div>
    
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#8a570fe8" fill-opacity="1"
        d="M0,192L48,170.7C96,149,192,107,288,112C384,117,480,171,576,170.7C672,171,768,117,864,101.3C960,85,1056,107,1152,122.7C1248,139,1344,149,1392,154.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
</svg>