<div class="separador my-5">
    <h3 class="text-white p-3">Buscá por categorías</h3>

    <div class="container text-center text-white">

        <div class="row my-2">
            <div class="col-md-6">
                <!-- Primer imagen -->
                <div data-aos="zoom-in-up" class="row primer-bloque my-4 mx-1 rounded">
                    <a class="bloques-negros rounded-bottom" href="">
                        <div class="titulos">
                            Telares
                        </div>
                    </a>
                </div>
                <!-- Segunda imagen -->
                <div data-aos="zoom-in-up" class="row segundo-bloque my-4 mx-1 rounded">
                    <a class="bloques-negros rounded-bottom" href="">
                        <div class="titulos">
                            Agujas
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Tercer Imagen -->
                <div data-aos="zoom-in-up" class="row tercer-bloque my-4 mx-1 rounded">
                    <a class="bloques-negros rounded-bottom" href="">
                        <div class="titulos">
                            Accesorios
                        </div>
                    </a>
                </div>
                <!-- Cuarta Imagen -->
                <div data-aos="zoom-in-up" class="row cuarto-bloque my-4 mx-1 rounded">
                    <a class="bloques-negros rounded-bottom" href="">
                        <div class="titulos">
                            Infantil
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>

</div>


<div data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" class="acompaniamos">
    <div class="row text-center">
        <div class="col-md-8 display-4 order-1 ">
            <div class="row p-3">
                Acompañamos a las tejedoras en su proceso de aprendizaje
            </div>
            <div class="row p-3">
                <div class="d-grid gap-2 col-6 mx-auto">
                    <a href="#" class="btn btn-warning">
                        <div class="h2">
                            Conocer más
                        </div>
                    </a>

                </div>
            </div>
        </div>
        <div class="col-md-4 order-md-2 align-self-center">
            <img class="img-fluid telarcito" src="assets/inicio/telar2.png" alt="Telarcito">
        </div>
    </div>

</div>

<div data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine" class="destacados my-5 text-center">

    <div class="display-5 my-4">
        Productos Destacados
    </div>
    <div class="row my-5">
        <!-- Primer Producto destacado -->
        <div class="col-md-4 d-flex justify-content-center py-2">
            <div class="card" style="width: 18rem;">
                <img src="https://http2.mlstatic.com/D_NQ_NP_781345-MLA30328563310_052019-O.webp" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Telar de 5 clavos</h5>
                    <p class="card-text">Creá cordones en muy pocos minutos. Decorá tejidos, revestí lapiceras, y mucho
                        más!</p>
                    <p class="card-text">Dificultad: muy baja</p>
                    <a href="#" class="btn btn-primary">Más información</a>
                </div>
            </div>
        </div>
        <!-- Segundo Producto destacado -->
        <div class="col-md-4 d-flex justify-content-center py-2">
            <div class="card" style="width: 18rem;">
                <img src="https://http2.mlstatic.com/D_NQ_NP_801360-MLA30328593583_052019-O.webp" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <!-- Tercer Producto destacado -->
        <div class="col-md-4 d-flex justify-content-center py-2">
            <div class="card" style="width: 18rem;">
                <img src="https://http2.mlstatic.com/D_NQ_NP_787294-MLA30328547442_052019-O.webp" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div data-aos="flip-left" data-aos-offset="300" class="opiniones my-5 text-center">
    <div class="display-5 my-4">
        ¿Qué opinan de nosotros?
    </div>
    <div class="row my-5">
        <!-- Primer Opinión -->
        <div class="col-md-6 d-flex justify-content-center py-2">
                <div class="rounded border border-success p-4 opinion1">
                <figure class="text-end">
                    <blockquote class="blockquote">
                        <p>Muy buena atención. El telar está espectacular!!!</p>
                    </blockquote>
                    <figcaption class="blockquote-footer text-white">
                        Juana Manso <cite title="Source Title">Tejedora</cite>
                    </figcaption>
                </figure>
            </div>
        </div>
        <!-- Segunda Opinión -->
        <div class="col-md-6 d-flex justify-content-center py-2">
            <div class="rounded border border-success p-4 opinion1">
            <figure class="text-end">
                <blockquote class="blockquote">
                    <p>Quedé muy satisfecha con el telar triangular. Ahora voy a poder hacer los chales que quiero!</p>
                </blockquote>
                <figcaption class="blockquote-footer text-white">
                    Es Ter <cite title="Source Title">Alumna de clase de telar</cite>
                </figcaption>
            </figure>
        </div>
    </div>
    </div>
</div>




<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#8a570fe8" fill-opacity="1"
        d="M0,192L48,170.7C96,149,192,107,288,112C384,117,480,171,576,170.7C672,171,768,117,864,101.3C960,85,1056,107,1152,122.7C1248,139,1344,149,1392,154.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z">
    </path>
</svg>