
.banner-image {
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.7) 40%, #8a570f 100%),url('src/assets/banner2.jpg');
    /* background-image: url('src/assets/banner2.jpg'); */
    background-size: cover;
    border-bottom-left-radius: 24% 56%;
    border-bottom-right-radius: 77% 49%;
}

.navbar_change {
    background-color: black;
    opacity: .8;
    transition: all 0.5s linear 100ms;
}

.navbar-brand {
    font-family: 'Architects Daughter', cursive;
    font-size: x-large;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: xx-large;
}