<p>nosotros works!</p>

<div class="container my-5 d-grip gap-5">
    <div class="p-5 border">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, expedita ipsam voluptate cupiditate
            dignissimos velit recusandae perspiciatis distinctio culpa cum atque dolorem rem animi, laudantium, error
            architecto? Officiis, perspiciatis veniam.
        </p>
    </div>
    <div class="p-5 border">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, expedita ipsam voluptate cupiditate
            dignissimos velit recusandae perspiciatis distinctio culpa cum atque dolorem rem animi, laudantium, error
            architecto? Officiis, perspiciatis veniam.
        </p>
    </div>
    <div class="p-5 border">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, expedita ipsam voluptate cupiditate
            dignissimos velit recusandae perspiciatis distinctio culpa cum atque dolorem rem animi, laudantium, error
            architecto? Officiis, perspiciatis veniam.
        </p>
    </div>
    <div class="p-5 border">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, expedita ipsam voluptate cupiditate
            dignissimos velit recusandae perspiciatis distinctio culpa cum atque dolorem rem animi, laudantium, error
            architecto? Officiis, perspiciatis veniam.
        </p>
    </div>
    <div class="p-5 border">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, expedita ipsam voluptate cupiditate
            dignissimos velit recusandae perspiciatis distinctio culpa cum atque dolorem rem animi, laudantium, error
            architecto? Officiis, perspiciatis veniam.
        </p>
    </div>
</div>